<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title> {{ page.title }} </title>
	<link href="css/style.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
</head>
<body>
	<div class="container">
	<div class="grid-11">
		<h1 class="brand-heading">Learn HackDesign</h1>
    		<p class="brand-subtitle">My HackDesign journal/journey</p>
	</div>
  
	{% include sidebar.html %}

 	 <article class="blog-post grid-8">
